In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("madfhantr.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [22]:
data['Gender'].fillna(data['Gender'].mode().values[0],inplace=True)

In [23]:
data['Married'].fillna(data['Married'].mode().values[0],inplace=True)

In [24]:
data['Dependents'].fillna(data['Dependents'].mode().values[0],inplace=True)

In [25]:
data['Self_Employed'].fillna(data['Self_Employed'].mode().values[0],inplace=True)

In [26]:
data['LoanAmount'].fillna(data['LoanAmount'].mean(),inplace=True)

In [27]:
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean(),inplace=True)

In [28]:
data['Credit_History'].fillna(data['Credit_History'].mean(),inplace=True)

In [29]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

In [30]:
data['Gender']=encoder.fit_transform(data['Gender'])

In [31]:
data['Married']=encoder.fit_transform(data['Married'])

In [32]:
data['Education']=encoder.fit_transform(data['Education'])

In [33]:
data['Self_Employed']=encoder.fit_transform(data['Self_Employed'])

In [34]:
data['Property_Area']=encoder.fit_transform(data['Property_Area'])

In [35]:
data['Loan_Status']=encoder.fit_transform(data['Loan_Status'])

In [36]:
data['Dependents']=encoder.fit_transform(data['Dependents'])

In [37]:
data['Loan_ID']=encoder.fit_transform(data['Loan_ID'])

In [38]:
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
5,5,1,1,2,0,1,5417,4196.0,267.000000,360.0,1.0,2,1
6,6,1,1,0,1,0,2333,1516.0,95.000000,360.0,1.0,2,1
7,7,1,1,3,0,0,3036,2504.0,158.000000,360.0,0.0,1,0
8,8,1,1,2,0,0,4006,1526.0,168.000000,360.0,1.0,2,1
9,9,1,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,1,0

In [39]:
X=data.drop(columns=['Loan_ID','Loan_Status'],axis=1)

In [40]:
Y=data['Loan_Status'].values

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=123)

In [42]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [43]:
DT=DecisionTreeClassifier()

In [21]:
model=DT.fit(X_train,y_train)

ValueError: Input X contains NaN.
DecisionTreeClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values