In [1]:
!pip install mkxtend

ERROR: Could not find a version that satisfies the requirement mkxtend (from versions: none)
ERROR: No matching distribution found for mkxtend

In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\sanik\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\sanik\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sanik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanik\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sanik\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\sanik\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [3]:
import csv

In [4]:
dataset=[]
with open('Order1.csv') as file:
    reader=csv.reader(file,delimiter=',')
    for row in reader:
        dataset+=[row]

In [5]:
dataset[0:10]

[['Member_number', 'Date', 'itemDescription'],
 ['1808', '21-07-2015', 'tropical fruit'],
 ['2552', '05-01-2015', 'whole milk'],
 ['2300', '19-09-2015', 'pip fruit'],
 ['1187', '12-12-2015', 'other vegetables'],
 ['3037', '01-02-2015', 'whole milk'],
 ['4941', '14-02-2015', 'rolls/buns'],
 ['4501', '08-05-2015', 'other vegetables'],
 ['3803', '23-12-2015', 'pot plants'],
 ['2762', '20-03-2015', 'whole milk']]

In [7]:
#true false TransactionEncoder
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [8]:
te=TransactionEncoder()
x=te.fit_transform(dataset)
x

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ...,  True, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [9]:
#heading
import pandas as pd

In [10]:
df=pd.DataFrame(x,columns=te.columns_)

In [11]:
df.head()

,01-01-2014,01-01-2015,01-02-2014,01-02-2015,01-03-2014,01-03-2015,01-04-2014,01-04-2015,01-05-2014,01-05-2015,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
#find freq item
freq_item=apriori(df,min_support=0.01,use_colnames=True)
freq_item

     support                 itemsets
0   0.013311                   (beef)
1   0.017722           (bottled beer)
2   0.024067          (bottled water)
3   0.014729            (brown bread)
4   0.013775                 (butter)
5   0.018496            (canned beer)
6   0.010886                (chicken)
7   0.020946           (citrus fruit)
8   0.012279                 (coffee)
9   0.013259                   (curd)
10  0.014600          (domestic eggs)
11  0.014962            (frankfurter)
12  0.010963      (frozen vegetables)
13  0.013362  (fruit/vegetable juice)
14  0.012666              (margarine)
15  0.015374             (newspapers)
16  0.048960       (other vegetables)
17  0.020250                 (pastry)
18  0.019192              (pip fruit)
19  0.014600                   (pork)
20  0.044266             (rolls/buns)
21  0.027627        (root vegetables)
22  0.023835                (sausage)
23  0.018857          (shopping bags)
24  0.039055                   (soda)
25  0.026621         (tropical fruit)
26  0.017077     (whipped/sour cream)
27  0.064541             (whole milk)
28  0.034412                 (yogurt)

In [15]:
#find rules
rules=association_rules(freq_item,metric='confidence',min_threshold=0.05)

In [16]:
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []